<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.discoversharepoint.com</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>discoversharepoint</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$discoversharepoint</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="myConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fe2c1mxw7w.database.windows.net,1433;Initial Catalog=discoveAlSXniv7U;User ID=discoversharepoint@fe2c1mxw7w;Password=ICE2orb2" Name="Data Source=tcp:fe2c1mxw7w.database.windows.net,1433;Initial Catalog=discoveAlSXniv7U;User Id=discoversharepoint@fe2c1mxw7w;Password=ICE2orb2" />
          <Object Type="DbDacFx">
            <PreSource Path="encrypt=True;connection timeout=30;server=tcp:fizh8y60zs.database.windows.net,1433;database=Sharepoint101;user id=adopt-sharepoint@fizh8y60zs;password=SPusecase38655;trusted_connection=False;encrypt=True;connection timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\myConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="encrypt=True;connection timeout=30;server=tcp:fizh8y60zs.database.windows.net,1433;database=Sharepoint101;user id=adopt-sharepoint@fizh8y60zs;password=SPusecase38655;trusted_connection=False;encrypt=True;connection timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)myConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fe2c1mxw7w.database.windows.net,1433;Initial Catalog=discoveAlSXniv7U;User Id=discoversharepoint@fe2c1mxw7w;Password=ICE2orb2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>